*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea
.idea/
app/libs/
app/src/androidTest/
app/src/main/res/drawable-v24/
app/src/main/res/drawable/
app/src/main/res/mipmap-anydpi-v26/
app/src/test/
gradle/
